.list-logo{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    padding-left: 20%;
    gap: 50px;
}

.list-logo li img{
    width: 400px;
}
