.characters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: grey;
}

.characters h3{
    text-transform: uppercase;
    font-weight: bolder;
    color: #dba90e;
}


.characters .gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    padding-bottom: 5rem;
    gap: 1rem;
}
