.navbarList{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    background-color: black;
}


.nav--logo{
    width: 175px;
    transition: all 1 ease-in-out;
}

.nav--logo:hover{
    transform: scale(1.1);
}

.nav--characters, .nav--teachers, .nav--houses {
    font-size: 1.75rem;
    color: orange;
    text-decoration: none;
    font-family: fantasy;
    transition: all 0.3s ease-in-out;
}

.nav--characters:hover, .nav--teachers:hover, .nav--houses:hover{
    color: white;
    letter-spacing: 0.25rem;
    transform: scale(1.2);
}